<!DOCTYPE html>
<html>
<head>
  <title>
See The Change

  </title> 
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  
  
</head>
<style>

h1 {color:red; text-align:center;}

p {color:red; text-align:center;}
</style>

<body>
<br> <h1>See The Change</h1> <br> <br> <br> <br>
<p>
<a href = "{{url_for('start_game')}}"><input type="submit" id = "start" value="start" class = "start"> </a> <br> <br> <br> <br> 
<input type="submit" id = "sign_in" value="sign in" class = "sign_in"> <br> <br> <br> <br>
<input type="submit" id = "sign_up" value="sign up" class = "sign_up">
</p>


</body>



</html>
