<!DOCTYPE html>
<html>
<head>
  <title>
Sign In

  </title> 
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  
  
</head>
<h1 class = "heading"> WELCOME TO</h1>
<br> <div style="text-align: center;"> <img HEIGHT="400" WIDTH="560" src="{{url_for('static', filename= 'unnamed.png')}}">

</div>
<style>


p {color:red; text-align:center;}
</style>

<body>
<style>
form { text-align: center}
</style>

<form action="{{url_for('sign_in')}}" method="POST">
username <input type="text" name= "username"> <br> <br>
password <input type="password" name="password"> <br> <br> 
<input type="submit" value="GO" class = "home_submit"> <br> <br>
<a href = "{{url_for('go_home')}}"> <input type="submit" value="home" class = "home_submit"> </a>
</form>


</body>



</html>
