<!DOCTYPE html>
<html>
<head>
<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
<link rel=stylesheet type=text/css href="../static/style.css">
</head>
<body>
<div> <!--<img HEIGHT="90" WIDTH="90" src="{{url_for('static', filename= 'unnamed.png')}}">-->
<img HEIGHT="90" WIDTH="90" src="../static/unnamed.png">
</div>
<br>
<br>
<br>
<style>


form {color:red; text-align:center;}
</style>

<form>
URL: <input type="text" name= "url"> <br> <br>
</form>
<br>
<br>

<div style="text-align: center;">

<select name="age" class = "age">
  <option value="Age">Age</option>
  <option value="0-12">0-12</option>
  <option value="13-20">13-20</option>
  <option value="21-30">21-30</option>
  <option value="31-45">31-45</option>
  <option value="46-60">46-60</option>
  <option value="61+">61+</option>
</select> 
<br>
<br>
<br>
Gender<br>
<input type="radio" value="male" name="gender">Male<br>
<input type="radio" value="female" name="gender">Female<br>
<input type="radio" value="other" name="gender">Other<br><br>
<br>
<br>
<select name="nationality" class = "nationality">
  <option value="catdogshark">Nationality</option>
  <option value="north america">North America</option>
  <option value="central america">Central America</option>
  <option value="south america">South America</option>
  <option value="western europe">Western Europe</option>
  <option value="eastern europe+former soviet union">Eastern Europe+former Soviet Union</option>
  <option value="middle east">Middle East</option>
  <option value="north africa">North Africa</option>
  <option value="central+southern africa">Central+Southern Africa</option>
  <option value="south asia ">South Asia</option>
  <option value="east asia">East Asia</option>
  <option value="southeast asia">Southeast Asia</option>
  <option value="australia & south pacific">Australia & South Pacific</option>

  
</select> <br><br>
<input type="submit" value="Submit">
</div>
